html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Outfit", sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 14px;
  background-color: rgb(251, 253, 253);
  color: black;
  background-image: url("../img/bgSnow.jpg");
  background-position: center;
  background-size: cover;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .wrap {
    display: inline-flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
  }
}

.table {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  width: 100%;
  background: rgba(91, 113, 131, 0.77);
  color: #fff;
}
/* table:not(:first-child) {
  margin-top: 20px;
}. */
@media screen and (min-width: 480px) {
  /* .table {
    max-width: 480px; */
}

@media screen and (min-width: 768px) {
  .table {
    margin-right: 20px;
  }
}
@media screen and (min-width: 1200px) {
  /* .table {
    max-width: 768px;
  } */
}

.t-row {
  width: 340px;
  margin-bottom: 5px;
  padding: 5px;
  font-size: 16px;
  padding: 5px;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .t-row {
    width: 400px;
  }
}

.td {
  padding: 7px;
}
